/****** board_trade_board_ing.css *********************/
@charset "utf-8";


/************ section 공통 *******************/
section {
	width:80%;

	max-width:1280px;
	margin: 0 auto;

    padding-top: 50px;
    padding-bottom: 400px;
}


.main-layout-wrapper {
	width: 100%;
	max-width:1280px;

	display:flex;
	flex-direction: column;
	margin:0 auto;
	margin-top:120px;
}
.top-menu{
	width: 1280px;
	max-width:1280px;
	height:20px;
/* 	border:1px solid lightgray;	 */
 	padding:5 0 5 5px;
}

/************* 첫번째 레이아웃(페이지) 시작 ****************/
.main-layout{
	width:1280px;
	height:1000px;
	display:flex;
	flex-direction: column;
	margin-bottom:30px;
}
.prod-box{
	width:1280px;	
}
.product-num{
	display:flex;
	justify-content: flex-end;
 	width:1280px;
 	height:20px;
/*  	border:1px solid lightgray;	 */
/*  	padding:5px 5px 5px 0; */
	font-size:10pt;
}
.prod-info{
	width:1280px;
	height:650px;
 	border:1px solid rgba(0,0,0,0.05);
 	display:flex;
 	justify-content: space-around;
	align-items: center;
/* 	padding:5px 5px 5px 0; */
}
.prod-info-l {
	width:500px;
	height:610px;	
/* 	border:1px solid lightgray; */
	display:flex;
	flex-direction: column;
}
.img-box {
	width:500px;
	height:400px;
/* 	border:1px solid lightgray; */
	
	display:flex;
	justify-content: center;
	align-items: center;
	
}
.prod-info-l .img-box img {
	width:380px;
	height:380px;
}
.spec-box {
	width:500px;
	height:100px;
	display:flex;
/* 	border:1px solid lightgray; */
	justify-content: space-evenly;
	align-items: center;
}
.img-spec {
	width:45px;
	height:50px;
	display:flex;
	flex-direction: column;
}
.spec-box span {
	color:#A3A3A3;
	padding:10px 0 0 0;
	text-align:center;
}


.prod-info-r {
	width:700px;
	height:610px;
/* 	border:1px solid lightgray; */
	display:flex;
	flex-direction: column;
	padding:5px 5px;
}
.prod-info-r b {
	padding:10px 0 10px 0;
}
.prod-info-r p {
	padding:10px 0 10px 0;	
}
.prod-info-r td {
	padding:5px 0 5px 0;	
}


.order-box {
	width:700px;
	height:200px;
/* 	border:1px solid lightgray; */
	display:flex;
	justify-content: center;
	align-items: flex-end
}
.pay-box {
    width: 690px;
    height: 100px;
	border:1px solid lightgray;
	background-color: #F7F9F9;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.pay-ea {
	width:670px;
	height:50px;
/* 	border:1px solid lightgray; */
	display:flex;
	justify-content: space-between;
	align-items: center;
}
.pay-amount {
	position:relative;
}
.inputstyle {



}
.pay-amount input.inputstyle {
	outline:none;
/* 	width:30px; */
	text-align:center;
	outline-color: lightgray;

}


.pay-price {
	width:670px;
	height:50px;
/* 	border:1px solid lightgray; */
	display:flex;
	align-items: center;
	justify-content: flex-end;	
}


.btn-box {
	width:700px;
	height:100px;
	display:flex;
	justify-content: center;
	align-items: center;	
/* 	border:1px solid lightgray;		 */
}
.btn-box .btn1 {
	width:215px;
	height:50px;
	border:3px solid;
	margin-right:2px;
	background-color:#76cc1e;
	color:white;
	border-color:#76cc1e;
	
	display:flex;
	justify-content: center;
	align-items: center;
}
.btn-box .btn2 {
	width:215px;
	height:56px;
	border:3px solid;
	margin-left:2px;

 	border-color:#76cc1e;
	background-color:white;
	color:#76cc1e;
	
	display:flex;
	justify-content: center;
	align-items: center;	
}


.no-info{
	font-size:12pt;
	color: #ccc;
}

.font_12 {
    font-size: 12px;
    font-family: tahoma, 굴림, Gulim, 돋움, Dotum, 맑은고딕, NanumGothic, Helvetica, 
    "Apple SD Gothic Neo", sans-serif;
    color:#808080;
}

.font13{
	font-size:13pt;
    font-family: tahoma, 굴림, Gulim, 돋움, Dotum, 맑은고딕, NanumGothic, Helvetica, 
    "Apple SD Gothic Neo", sans-serif;
}


/*** 두번째 레이아웃 ***/
.sub-layout {
	width:1280px;

	display:flex;
	justify-content: center;
/*  	border:1px solid lightgray; */
	
}
.sub-layout img {
	width:1280;
}


/*** 첫번째 레이아웃 아랫쪽 시작 ***/
.prod-related-box{
 	border:1px solid rgba(0,0,0,0.05);
 	padding:5 5 5 0px;
 	display:flex;
 	flex-direction: column;
 	width:1280px;
 	height:200px;
 		overflow:hidden;
	flex-wrap: wrap;
}
.product-related-text{
/*  	border:1px solid lightgray;	 */
 	padding:5px 5px;	
}
.prod-related{
/*  	border:1px solid lightgray;	 */
 	padding:5px 5px;
 	display:flex;	
}


.new-product{
    width: 105px;
    height: 150px;
    border: 1px solid lightgray;
    margin-left: 67px;
}

.prod {
	width:470px;
	height:250px;
}
.new-product img.prod {
	width:90px;
	height:90px;
	padding:5px 5px;
}
.new-product div {
	font-size:7pt;
	padding:2px 0 2px 10px;
	height:10px;
}
.new-product div.pub {
	font-size: 6pt;
    padding: 0 0 2px 10px;
    height: 20px;
}




