/****** board_trade_board_ing.css *********************/
@charset "utf-8";


/************ section 공통 *******************/
section {
	width:80%;

	max-width:1280px;
	margin: 0 auto;

    padding-top: 50;
    padding-bottom: 400px;
}

.main-layout-wrapper {
	width: 100%;
	max-width:1280px;

	display:flex;
	margin:0 auto;
	margin-bottom:120px;
}

.layout-wrapper {
	width:1280px;
	display:flex;
	margin-top:120px;
	flex-direction: column;
	position:relative;
}

.moving {
	width:80px;
	height:160px;

	text-align:center;
	position:fixed;
	right:210px;
	margin-top:30px;	
}

.moving .enter{
	width:100px;
	height:100px;
	border:1px solid lightgray;
	border-radius:50%;
}
.moving .enter p {
	margin-top:20px;
	color:#76cc1e;
	font-family: 'NanumBarunGothic', 'Noto Sans KR', 'Nanum Gothic', 'NanumGothic', '나눔고딕', Helvetica, 'Apple SD Gothic Neo', Dotum, '돋움', sans-serif;
}
.moving .enter img {
	margin-top: 10px;
}
	

.moving .basket {
	width:100px;
	height:100px;
	margin-top: 10px;
	border:1px solid lightgray;
	border-radius:50%;
}


.moving .basket p {
	margin-top:20px;
	color:#76cc1e;
    font-family: 'NanumBarunGothic', 'Noto Sans KR', 'Nanum Gothic', 'NanumGothic', '나눔고딕', Helvetica, 'Apple SD Gothic Neo', Dotum, '돋움', sans-serif;
}
.moving .basket img{
	margin-top: 10px;
}

/*** 메인슬라이더 ***/

.main_slider {
	width: 100%;
	height: 500px;
}

.main_slider .inner_slider {
	width: 1280px;
	height: 100%;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

.main_slider .inner_slider .slider_show {
	position: absolute;
    left: -2560px;
}

.main_slider .inner_slider .slider_show .banner_wrap {
	width: 6400px;
    position: absolute;
}

.main_slider .inner_slider .slider_show .banner_wrap .banner {
    width: 1280px;
    float: left;
    position: relative;
    /*    background-color: black;*/
}

.main_slider .inner_slider .slider_show .banner_wrap .banner img {
	width: 1280px;
}




/************* 상단 메뉴바 ****************************/
.top-menu-line {
	width:1280px;
	height:80px;
	display:flex;
	justify-content: space-between;
	align-items: center;
	border-top:1px solid lightgray;
	border-bottom:1px solid lightgray;
/* 	border:1px solid lightgray; */
	/* padding:5px 5px; */
}
.top-menus{
	width:300px;
	display:flex;

	padding:5px 5px;
}
.top-menu {
	width:100px;
	cursor: pointer;
    vertical-align: middle;
	user-select: none;
    font-size: 18px;
    line-height: 14px;
    color: #333;	
}
.selec{
	color:#8C8C8C;
	font-size:10pt;
}
.top-menu-line .searchline {
	display:flex;
	padding-top:5px;
}
.top-menu-line .search {
	width:340px;
}
.top-menu-line .searchline select {
	outline:none;
	font-size:13pt;
}


.dotbogi {
	width:20px;
	height:20px;
}


.count-all{
	font-size:10pt;
}


/*박스 클릭시 생기는 테두리 없애기*/
.top-menu-line .searchline input:focus {
	outline:none;
}


/*******************상품********************/
.product-rank{
	width:1280px;
	height: 4.8%;

	padding:5px 5px;
	display:flex;
	margin-top:50px;
	flex-direction: column;
}
.product-rank h2 {
	padding: 10px 10px;
}

.product-menu{
	display:flex;
	justify-content: space-between;

	padding:10px 5px;
}
.product-title{
	width:100px;

	padding:5px 5px;
	position: relative;
    z-index: 10;
    font-size: 20px;
    font-weight: bold;
    color: black;
    background: #fff;

    display: inline-block;

}
.product-view-all{
	border:1px solid lightgray;
	padding:5px 5px;
}

.product-text{

	padding:5px 5px;
	padding-top:10px;
	font-family: 돋움, Dotum, 굴림, Gulim, 맑은고딕, NanumGothic, Helvetica, "Apple SD Gothic Neo", sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: rgb(108, 108, 108);
}

.product-wrapper{
	height:670px;
	display:flex;
	padding:5px 5px;

	overflow:hidden;
	flex-wrap: wrap;
}

.product-box {
	width:223px;
	height:260px;

	margin-left:20px;
	margin-top:50px;
}

.product-box > P {
	font-size: 11px;
    line-height: 14px;
    color: #333;
    min-height: 14px;
    margin-bottom: 5px;
	margin-left:10px;
}


.prod-img {
	width:211px;
	height:187px;
	border:1px solid lightgray;
	border-radius:100%;
	margin:5px 5px;
	overflow: hidden;
}

.prod {
    width: 100%;
    height: 184px;
    transition: ease-out .25s;
}

.prod:hover {
	transform: scale(1.1);
}

.price-container {
	margin-left:10px;
	margin-top:10px;
}
.price {
	font-family: Roboto;
    font-size: 24px;
    font-weight: bold;
    line-height: 0;
    color: #333;	
}
.won {
	font-size: 14px;
    line-height: 1.43;
    color: #333;
}
.game-name{
	margin-left:10px;
	position: relative;
    word-break: break-all;
    font-size: 18px;
    color: #333;
    font-weight: bold;
}
.review{
	color: #000;
    font-weight: 500;
    font-size: 13px;
    vertical-align: middle;
}

.productB {
	position: relative;
}

.green-number{
	position:absolute;
	z-index: 10;
	left:30px;
	top:45px;
	width:45px;
	height:45px;
	line-height: 45px;
	border-radius:100%;
	background-color:#76cc1e;
	color:white;	
	font-weight:bold;
	text-align:center;
}

.blur {
	filter: blur(5px);
}

/**********gpt******************/

/* .top-menu-line { */
/*   background-color: #76cc1e; */
/*   padding: 10px; */
/* } */

/* .top-menus { */
/*   display: flex; */
/*   justify-content: space-between; */
/*   align-items: center; */
/* } */

/* .top-menu { */
/*   color: white; */
/*   margin-right: 10px; */
/* } */

/* .top-menu input[type="checkbox"] { */
/*   margin-right: 5px; */
/* } */

/* .searchline { */
/*   display: flex; */
/*   align-items: center; */
/*   margin-top: 10px; */
/* } */

/* .searchline select { */
/*   margin-right: 10px; */
/* } */

/* .searchline input[type="text"] { */
/*   padding: 5px; */
/* } */

/* .searchline input[type="submit"] { */
/*   background-color: #76cc1e; */
/*   color: white; */
/*   padding: 5px 10px; */
/*   border: none; */
/* } */

/* .count-all { */
/*   margin-top: 10px; */
/* } */

/**********product_list_search.jsp*********/
.product-wrapper2{
/* 	height:355px; */
	display:flex;
	padding:5px 5px;

/* 	overflow:hidden; */
	flex-wrap: wrap;
}


